<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DownloadFolder" value="DownloadFolder"/>
    <!-- AAPL -->
    <add key="SEC_CIK_AAPL" value="0000320193"/>
    <add key="SEC_CIK_AAPL_SUBMISSION_FOLDER_20170701" value="000032019317000009"/>
    <add key="SEC_CIK_AAPL_SUBMISSION_FOLDER_20170401" value="000162828017004790"/>
    <add key="SEC_CIK_AAPL_10Q_FILE_XML" value="aapl-20170701.xml"/>
    <add key="SEC_CIK_AAPL_10Q_FILE_ZIP" value="0000320193-17-000009-xbrl.zip"/>
    
    <!-- TSLA -->
    <add key="SEC_CIK_TSLA" value="0001318605"/>
    <add key="SEC_CIK_TSLA_SUBMISSION_FOLDER" value="000165064917000010"/>
    
    <!-- IBM -->
    <add key="SEC_CIK_IBM" value="000051143"/>
    <add key="SEC_CIK_IBM_SUBMISSION_FOLDER" value="000156218017002697"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
